// Color Variables
$bg-color: #1f5d31;
$egg-color: #2e944b;
$primary-color: rgb(68, 68, 156);
$primary-hover-color: rgba(68, 68, 156, 0.5);


body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    button, input[type="submit"] {
        background-color: $primary-color;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        font-size: 0.95rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 0.375rem 0.75rem;
        text-align: center;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        vertical-align: middle;
    }

    input[type="text"], input[type="number"] {
        line-height: 1.8;
        width: 25%;

        &:hover{
            background-color: $primary-hover-color;
            transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
        }
    }

}

.right{
    float:right;
}

.left{
    float:left;
}


.egg{
    background-color: $egg-color;
}
