<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="initial-scale=1, width=device-width"/>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
        <title>Egg Tracker: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <main class="container">
            {% block body %}{% endblock %}
        </main>   
    </body>